body {
    margin: 0;
    display: flex;
    justify-content: center;
    /* 水平居中 */
}

.main {
    max-width: 1000px;
    height: 1700px;
    width: 100%;
}

.h1 {
    margin: 0;
    margin-top: 40px;
    font-size: 60px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1D1D1F;
}

.syousai-pc {

    margin-top: 20px;
    font-size: 16px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #1d1d1fb2;
}

.syousai-phone {
    display: none;
}



/* ======================================================================== */
/* ================================button-star============================= */



.nav {
    margin-top: 100px;
}

.menu {
    width: 354px;
    font-size: 18px;
    display: flex;
    gap: 2px;
    /* 项目间距 */
    list-style: none;
    /* 去掉圆点 */
    padding: 0;
    margin: 0;
    border-radius: 40px;
    border: 1px solid #D2D2D4;
    background: #DDDDDF;
}

.menu a {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 600;
    text-decoration: none;
}


.page-design .button-design {
    text-decoration: none;
    color: #1D1D1F;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(237, 237, 237);
    border-radius: 40px;
    border: 1px solid #F8F8F8;
    background: #FFF;
    /* box-shadow: 1px 3px 15.1px -2px rgba(0, 0, 0, 0.14); */
    /* box-shadow: 2px 4px 15px -2px rgba(0, 0, 0, 0.20); */
    box-shadow: 0 4px 13px -2px rgba(0, 0, 0, 0.18);
    transition: background-color 0.2s ease;

}

.page-design .button-photo,
.page-design .button-about {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
    background-color: #DDDDDF;
    transition: background-color 0.4s ease;

}

.page-design .button-photo:hover,
.page-design .button-about:hover {
    background-color: #a4a5a6;
}

.page-design .button-design-a {
    color: #1D1D1F;
}

.page-design .button-photo-a,
.page-design .button-about-a {
    color: #666666;
}

.page-design .button-photo-a:hover,
.page-design .button-about-a:hover {
    color: #f2f2f2;
}




/* ================================================ */




.page-photo .button-photo {
    text-decoration: none;
    color: #1D1D1F;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(237, 237, 237);
    border-radius: 40px;
    border: 1px solid #F8F8F8;
    background: #FFF;
    box-shadow: 0 4px 13px -2px rgba(0, 0, 0, 0.18);
    transition: background-color 0.2s ease;
}

.page-photo .button-photo-a {
    color: #1D1D1F;
}

.page-photo .button-design,
.page-photo .button-about {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
    background-color: #DDDDDF;
    transition: background-color 0.4s ease;

}

.page-photo .button-design:hover,
.page-photo .button-about:hover {
    background-color: #a4a5a6;
}

.page-photo .button-design-a {
    color: #1D1D1F;
}

.page-photo .button-design-a,
.page-photo .button-about-a {
    color: #666666;
}

.page-photo .button-design-a:hover,
.page-photo .button-about-a:hover {
    color: #f2f2f2;
}


/* ============================================= */


.page-about .button-about {
    text-decoration: none;
    color: #1D1D1F;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(237, 237, 237);
    border-radius: 40px;
    border: 1px solid #F8F8F8;
    background: #FFF;
    box-shadow: 0 4px 13px -2px rgba(0, 0, 0, 0.18);
    transition: background-color 0.2s ease;
}




.page-about .button-about-a {
    color: #1D1D1F;
}




.page-about .button-design,
.page-about .button-photo {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
    background-color: #DDDDDF;
    transition: background-color 0.4s ease;

}

.page-about .button-design:hover,
.page-about .button-photo:hover {
    background-color: #a4a5a6;
}

.page-about .button-design-a {
    color: #1D1D1F;
}

.page-about .button-design-a,
.page-about .button-photo-a {
    color: #666666;
}

.page-about .button-design-a:hover,
.page-about .button-photo-a:hover {
    color: #f2f2f2;
}

/* ======================================================================== */
/* ================================button-end============================= */

.sakuhin-link {
    display: block;
    /* 让 a 包住整个块 */
    text-decoration: none;
    /* 去掉下划线 */
    color: inherit;
    /* 文字颜色继承 */
}

.sakuhin-link:hover figure img {
    transform: translateY(-3px);
}

.sakuhin-link figure img {
    transition: transform 0.3s ease;
}

.sakuhin {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

figure {
    margin: 0;
}

.figure img {
    width: 100%;
    border-radius: 40px;
}

.figcaption {
    margin-top: 20px;
}



.sakuhin-a {
    border-radius: 40px;
    width: 470px;
}

.sakuhin-h3 {
    margin: 0;
    margin-top: -6px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #1d1d1f;
}

.sakuhin-h2 {
    margin: 0;
    margin-top: -4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #1d1d1ffa;
}

.sakuhin-p {
    margin: 0;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1d1d1fb4;
}

.sakuhin-b {
    border-radius: 40px;
    width: 470px;

}

.sakuhin-c {
    border-radius: 40px;
    width: 470px;
}

.sakuhin-d {
    border-radius: 40px;
    width: 470px;
}



.footer {
    padding-left: 10px;
    margin-top: 80px;
    font-size: 14px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1d1d1f;
}

.part-d {
    padding-bottom: 30px;
}

.blog-footer {
    margin-top: 200px;
    font-size: 12px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1d1d1f;
}



/* ======================================================================== */
/* ======================================================================== */
/* ======================================================================== */
/* ==============================zenkikadai-star=========================== */
.page-zenkikadai {
    background-color: #909CBD;

}

.page-zenkikadai .main {
    max-width: 1000px;
    height: 2200px;
    width: 100%;

}

.blog-content {
    padding-left: 10%;
    padding-right: 10%;
}


.button-back {
    margin-top: 60px;
    color: #1d1d1f;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #0f0f0f;
    background: #252525;
    box-shadow: 1px 5px 12px -1px rgba(0, 0, 3, 0.3);
    transition:
        box-shadow 0.18s ease,
        transform 0.18s ease;
}

.button-back:hover {
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
    transform: translateY(1px);
}

.but-left {
    position: relative;
    right: 3px;
    top: 1px;
}

.button-back {
    position: fixed;
    z-index: 1000;
}

.topimg {
    /* margin-top: 160px; */
    width: 100%;
    border-radius: 40px;

}

.h2-blog {
    margin-top: 40px;
    font-size: 20px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1D1D1F;
}

.h1-blog {
    margin-top: -20px;
    font-size: 40px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #1D1D1F;
}

.h3-blog {
    margin-top: -30px;
    font-size: 14px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1D1D1F;
}

.p-blog {
    font-size: 15px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1D1D1F;
    line-height: 2;
}

.p-blog-1 {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 15px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1D1D1F;
    line-height: 2;
}

.p-blog-2,
.p-blog-3,
.p-blog-4,
.p-blog-5,
.p-blog-6 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 15px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1D1D1F;
    line-height: 2;
}

.v1-blog {
    width: 100%;
    border-radius: 40px;
    border: 1px solid #dddddd;
}

.zenki-img-1 {
    width: 100%;
    border-radius: 40px;
    border: 1px solid #dddddd;
}



.zenki-img-2-1,
.zenki-img-2-2 {
    width: 48%;
    border-radius: 40px;
    border: 1px solid #dddddd;
}

.zenki-img-g-1 {
    display: flex;
    gap: 2%;

}

.zenki-img-3 {
    width: 100%;
    border-radius: 40px;
    border: 1px solid #dddddd;
}


.zenki-img-4 {
    width: 100%;
    border-radius: 40px;
    border: 1px solid #dddddd;
}

.zenki-img-5-1,
.zenki-img-5-2,
.zenki-img-6-1,
.zenki-img-6-2 {
    width: 48%;
    border-radius: 40px;
    border: 1px solid #dddddd;
}

.zenki-img-g-2 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.5%;
    row-gap: 30px;
}

.v1-blog-2 {
    margin-top: 30px;
}

.zenki-img-7 {
    width: 100%;
    border-radius: 40px;
    border: 1px solid #dddddd;
}

.zenki-img-8 {
    margin-top: 3%;
    width: 100%;
    border-radius: 40px;
    border: 1px solid #dddddd;
}

.footer-blog {
    margin-top: 60px;
}

.blog-content {
    padding-bottom: 100px;
}

/* ======================================================================== */
/* ======================================================================== */
/* ======================================================================== */
/* ==============================zenkikadai-end=========================== */







/* ======================================================================== */
/* ======================================================================== */
/* ======================================================================== */
/* ================================kojiki-star============================= */


.page-kojiki {
    background-color: #F4EFEF;

}


.cyousa-img {
    width: 48%;
    border-radius: 40px;
    border: 1px solid #dddddd;
}

.kojiki-img {
    border-radius: 40px;
    border: 1px solid #dddddd;
}

.kojiki-img-g1 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.5%;
    row-gap: 30px;
}

.kojiki-img-5 {
    width: 100%;
    border-radius: 40px;
    border: 1px solid #dddddd;
}

.kojiki-v1-blog {
    width: 48%;
    border-radius: 40px;
    border: 1px solid #dddddd;
}

.kojiki-img-6,
.kojiki-img-7,
.kojiki-img-8 {
    width: 48%;
    border-radius: 40px;
    border: 1px solid #dddddd;
}

.kojiki-img-g2 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.5%;
    row-gap: 30px;
}

.footer-blog {
    margin-top: 60px;
}


/* ======================================================================== */
/* ================================kojiki-end============================= */


/* ======================================================================== */
/* ================================saitosekkei-star============================= */
.page-saitosekkei {
    background-color: #C58586;

}


.saito-img {
    width: 100%;
    border-radius: 40px;

}

.saito-v1-blog,
.saito-v2-blog {
    width: 100%;
    border-radius: 40px;
}







/* ======================================================================== */
/* ================================saitosekkei-end============================= */








/* ============================ Mobile (≤ 810px) ========================== */
/* ======================================================================== */
/* ======================================================================== */
/* ======================================================================== */
/* ===============================tp-page-m-star============================= */
@media screen and (max-width: 810px) {


    body {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .blog-content {
        padding-bottom: 100px;
    }

    .main {
        max-width: 420px;


    }

    .part {
        padding-left: 20px;
        padding-right: 20px;
    }

    .syousai-pc {
        display: none;
    }

    .syousai-phone {
        display: block;
        margin-top: 20px;
        font-size: 14px;
        font-family: "Zen Kaku Gothic New", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #1d1d1fb2;
    }

    .nav {
        margin-top: 40px;
    }

    .figure img {
        width: 100%;
        border-radius: 40px;
    }

    .sakuhin-p {
        font-size: 12px;
    }

    .sakuhin-h3 {
        font-size: 11px;
    }

    .sakuhin-h2 {
        font-size: 16px;
        margin-top: -2px;
    }

    .sakuhin {
        row-gap: 30px;

    }


    .menu {
        width: 306px;
        font-size: 15px;
    }



    .page-design .button-design {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .page-design .button-photo,
    .page-design .button-about {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 8px;
        padding-bottom: 8px;


    }

    /* ======================================================================== */
    /* ===============================tp-page-end============================= */

    /* ======================================================================== */
    /* ===============================photo-page-m-star============================= */

    .page-photo .button-design {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .page-photo .button-photo,
    .page-photo .button-about {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 8px;
        padding-bottom: 8px;


    }

    /* ======================================================================== */
    /* ===============================tp-page-m-end============================= */



    /* ======================================================================== */
    /* =============================about-m-star=========================== */



    .page-about .button-design {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .page-about .button-photo,
    .page-about .button-about {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 8px;
        padding-bottom: 8px;


    }






    /* ======================================================================== */
    /* =============================about-m-end=========================== */








    /* ======================================================================== */
    /* =============================zenkikadai-m-star=========================== */

    .blog-content {
        padding-left: 8%;
        padding-right: 8%;
    }

    .button-back {
        margin-top: 8%;
        margin-left: 8%;
    }

    .h1-blog {
        line-height: 1.2;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .topimg {
        border-radius: 34px;
    }

    .h2-blog {
        font-size: 15px;
        margin-top: 35%;
        margin-bottom: 0px;
        font-weight: 600;
    }

    .h3-blog {
        margin-top: 6px;
    }

    .p-blog {
        font-size: 14px;
    }


    .zenki-img-1 {
        border-radius: 34px;
    }

    .zenki-img-g-1,
    .zenki-img-g-2 {
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .zenki-img-2-1,
    .zenki-img-2-2,
    .zenki-img-5-1,
    .zenki-img-5-2,
    .zenki-img-6-1,
    .zenki-img-6-2 {
        width: 100%;
        border-radius: 34px;
        border: 1px solid #dddddd;
    }

    .zenki-img-3,
    .zenki-img-4,
    .zenki-img-7,
    .zenki-img-8 {
        border-radius: 34px;
    }



    /* ======================================================================== */
    /* =============================kojiki-m-star=========================== */


    .cyousa-img,
    .kojiki-img-5 {
        width: 100%;
        border-radius: 34px;
    }

    .kojiki-img-6,
    .kojiki-img-7,
    .kojiki-img-8,
    .kojiki-v1-blog {
        width: 100%;
        border-radius: 34px;
        border: 1px solid #dddddd;

    }










    .saito-img {
        width: 100%;
        border-radius: 34px;

    }

    .saito-v1-blog,
    .saito-v2-blog {
        width: 100%;
        border-radius: 34px;
    }


}