body {
    margin: 0;
    display: flex;
    justify-content: center;
    /* 水平居中 */
}

.main {
    max-width: 1000px;
    height: 1700px;
    width: 100%;
}

.h1 {
    margin: 0;
    margin-top: 40px;
    font-size: 60px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1D1D1F;
}

.kojinsyoukai p {
    margin-top: 20px;
    font-size: 16px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #1d1d1fb2;
}


.nav {
    margin-top: 100px;
}

.menu {
    width: 354px;
    font-size: 18px;
    display: flex;
    gap: 2px;
    /* 项目间距 */
    list-style: none;
    /* 去掉圆点 */
    padding: 0;
    margin: 0;
    border-radius: 40px;
    border: 1px solid #D2D2D4;
    background: #DDDDDF;
}

.menu a {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 600;
    text-decoration: none;
}

/* ======================================================================== */


.page-design .button-design {
    text-decoration: none;
    color: #1D1D1F;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: rgb(237, 237, 237);
    border-radius: 40px;
    border: 1px solid #F8F8F8;
    background: #FFF;
    box-shadow: 1px 3px 15.1px -2px rgba(0, 0, 0, 0.14);
    transition: background-color 0.2s ease;

}

.page-design .button-photo,
.page-design .button-about {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 40px;
    background-color: #DDDDDF;
    transition: background-color 0.4s ease;

}

.page-design .button-photo:hover,
.page-design .button-about:hover {
    background-color: #a4a5a6;
}

.page-design .button-design-a {
    color: #1D1D1F;
}

.page-design .button-photo-a,
.page-design .button-about-a {
    color: #666666;
}

.page-design .button-photo-a:hover,
.page-design .button-about-a:hover {
    color: #f2f2f2;
}




/* ======================================================================== */




.page-photo .button-photo {
    text-decoration: none;
    color: #1D1D1F;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: rgb(237, 237, 237);
    border-radius: 40px;
    border: 1px solid #F8F8F8;
    background: #FFF;
    box-shadow: 1px 3px 15.1px -2px rgba(0, 0, 0, 0.14);
    transition: background-color 0.2s ease;
}




.page-photo .button-photo-a {
    color: #1D1D1F;
}


.page-photo .button-design {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 40px;
    background-color: #DDDDDF;
    transition: background-color 0.4s ease;
}



.page-photo .button-design,
.page-photo .button-about {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 40px;
    background-color: #DDDDDF;
    transition: background-color 0.4s ease;

}

.page-photo .button-design:hover,
.page-photo .button-about:hover {
    background-color: #a4a5a6;
}

.page-photo .button-design-a {
    color: #1D1D1F;
}

.page-photo .button-design-a,
.page-photo .button-about-a {
    color: #666666;
}

.page-photo .button-design-a:hover,
.page-photo .button-about-a:hover {
    color: #f2f2f2;
}


/* ======================================================================== */


.page-about .button-about {
    text-decoration: none;
    color: #1D1D1F;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: rgb(237, 237, 237);
    border-radius: 40px;
    border: 1px solid #F8F8F8;
    background: #FFF;
    box-shadow: 1px 3px 15.1px -2px rgba(0, 0, 0, 0.14);
    transition: background-color 0.2s ease;
}




.page-about .button-about-a {
    color: #1D1D1F;
}


.page-about .button-design {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 40px;
    background-color: #DDDDDF;
    transition: background-color 0.4s ease;
}



.page-about .button-design,
.page-about .button-photo {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 40px;
    background-color: #DDDDDF;
    transition: background-color 0.4s ease;

}

.page-about .button-design:hover,
.page-about .button-photo:hover {
    background-color: #a4a5a6;
}

.page-about .button-design-a {
    color: #1D1D1F;
}

.page-about .button-design-a,
.page-about .button-photo-a {
    color: #666666;
}

.page-about .button-design-a:hover,
.page-about .button-photo-a:hover {
    color: #f2f2f2;
}





/* ======================================================================== */












.sakuhin-link {
    display: block;
    /* 让 a 包住整个块 */
    text-decoration: none;
    /* 去掉下划线 */
    color: inherit;
    /* 文字颜色继承 */
}

.sakuhin-link:hover figure img {
    transform: translateY(-3px);
}

.sakuhin-link figure img {
    transition: transform 0.3s ease;
}

.sakuhin {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

figure {
    margin: 0;
}

.figure img {
    height: auto;
    border-radius: 40px;
}

.figcaption {
    margin-top: 20px;
}



.sakuhin-a {
    border-radius: 40px;
    width: 470px;
}

.sakuhin-h3 {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1d1d1f;
}

.sakuhin-h2 {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #1d1d1f;
}

.sakuhin-p {
    margin: 0;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #1d1d1f;
}

.sakuhin-b {
    border-radius: 40px;
    width: 470px;

}

.sakuhin-c {
    border-radius: 40px;
    width: 470px;
}

.sakuhin-d {
    border-radius: 40px;
    width: 470px;
}



.footer {
    margin-top: 180px;
    font-size: 12px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1d1d1f;
}